<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ma.clothes.dao.AssetMapper">
  <resultMap id="BaseResultMap" type="com.ma.clothes.pojo.entity.Asset">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="asset_name_id" jdbcType="VARCHAR" property="assetNameId" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="labels" jdbcType="VARCHAR" property="labels" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="price" jdbcType="BIGINT" property="price" />
    <result column="purchase_date" jdbcType="TIMESTAMP" property="purchaseDate" />
    <result column="valid_date" jdbcType="TIMESTAMP" property="validDate" />
    <result column="warranty_date" jdbcType="TIMESTAMP" property="warrantyDate" />
    <result column="asset_number" jdbcType="VARCHAR" property="assetNumber" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="supplier_id" jdbcType="VARCHAR" property="supplierId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updator" jdbcType="VARCHAR" property="updator" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, asset_name_id, location, labels, status, user_id, price, purchase_date, valid_date, 
    warranty_date, asset_number, serial_number, supplier_id, description, add_time, create_time, 
    creator, update_time, updator
  </sql>
  <select id="selectByExample" parameterType="com.ma.clothes.pojo.entity.AssetExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clo_asset
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from clo_asset
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from clo_asset
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ma.clothes.pojo.entity.AssetExample">
    delete from clo_asset
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ma.clothes.pojo.entity.Asset">
    insert into clo_asset (id, asset_name_id, location, 
      labels, status, user_id, 
      price, purchase_date, valid_date, 
      warranty_date, asset_number, serial_number, 
      supplier_id, description, add_time, 
      create_time, creator, update_time, 
      updator)
    values (#{id,jdbcType=VARCHAR}, #{assetNameId,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, 
      #{labels,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{userId,jdbcType=VARCHAR}, 
      #{price,jdbcType=BIGINT}, #{purchaseDate,jdbcType=TIMESTAMP}, #{validDate,jdbcType=TIMESTAMP}, 
      #{warrantyDate,jdbcType=TIMESTAMP}, #{assetNumber,jdbcType=VARCHAR}, #{serialNumber,jdbcType=VARCHAR}, 
      #{supplierId,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ma.clothes.pojo.entity.Asset">
    insert into clo_asset
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="assetNameId != null">
        asset_name_id,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="labels != null">
        labels,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="purchaseDate != null">
        purchase_date,
      </if>
      <if test="validDate != null">
        valid_date,
      </if>
      <if test="warrantyDate != null">
        warranty_date,
      </if>
      <if test="assetNumber != null">
        asset_number,
      </if>
      <if test="serialNumber != null">
        serial_number,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updator != null">
        updator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="assetNameId != null">
        #{assetNameId,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="labels != null">
        #{labels,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=BIGINT},
      </if>
      <if test="purchaseDate != null">
        #{purchaseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validDate != null">
        #{validDate,jdbcType=TIMESTAMP},
      </if>
      <if test="warrantyDate != null">
        #{warrantyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="assetNumber != null">
        #{assetNumber,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null">
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        #{updator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ma.clothes.pojo.entity.AssetExample" resultType="java.lang.Long">
    select count(*) from clo_asset
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update clo_asset
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.assetNameId != null">
        asset_name_id = #{record.assetNameId,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null">
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.labels != null">
        labels = #{record.labels,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=BIGINT},
      </if>
      <if test="record.purchaseDate != null">
        purchase_date = #{record.purchaseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.validDate != null">
        valid_date = #{record.validDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.warrantyDate != null">
        warranty_date = #{record.warrantyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.assetNumber != null">
        asset_number = #{record.assetNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.serialNumber != null">
        serial_number = #{record.serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierId != null">
        supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updator != null">
        updator = #{record.updator,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update clo_asset
    set id = #{record.id,jdbcType=VARCHAR},
      asset_name_id = #{record.assetNameId,jdbcType=VARCHAR},
      location = #{record.location,jdbcType=VARCHAR},
      labels = #{record.labels,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      user_id = #{record.userId,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=BIGINT},
      purchase_date = #{record.purchaseDate,jdbcType=TIMESTAMP},
      valid_date = #{record.validDate,jdbcType=TIMESTAMP},
      warranty_date = #{record.warrantyDate,jdbcType=TIMESTAMP},
      asset_number = #{record.assetNumber,jdbcType=VARCHAR},
      serial_number = #{record.serialNumber,jdbcType=VARCHAR},
      supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      updator = #{record.updator,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ma.clothes.pojo.entity.Asset">
    update clo_asset
    <set>
      <if test="assetNameId != null">
        asset_name_id = #{assetNameId,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="labels != null">
        labels = #{labels,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=BIGINT},
      </if>
      <if test="purchaseDate != null">
        purchase_date = #{purchaseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validDate != null">
        valid_date = #{validDate,jdbcType=TIMESTAMP},
      </if>
      <if test="warrantyDate != null">
        warranty_date = #{warrantyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="assetNumber != null">
        asset_number = #{assetNumber,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null">
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        updator = #{updator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ma.clothes.pojo.entity.Asset">
    update clo_asset
    set asset_name_id = #{assetNameId,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      labels = #{labels,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      user_id = #{userId,jdbcType=VARCHAR},
      price = #{price,jdbcType=BIGINT},
      purchase_date = #{purchaseDate,jdbcType=TIMESTAMP},
      valid_date = #{validDate,jdbcType=TIMESTAMP},
      warranty_date = #{warrantyDate,jdbcType=TIMESTAMP},
      asset_number = #{assetNumber,jdbcType=VARCHAR},
      serial_number = #{serialNumber,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>