<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ma.clothes.dao.SequenceMapper">
  <resultMap id="BaseResultMap" type="com.ma.clothes.pojo.entity.Sequence">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="min_value" jdbcType="INTEGER" property="minValue" />
    <result column="max_value" jdbcType="BIGINT" property="maxValue" />
    <result column="current_value" jdbcType="BIGINT" property="currentValue" />
    <result column="increament_value" jdbcType="INTEGER" property="increamentValue" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, min_value, max_value, current_value, increament_value, remark
  </sql>
  <select id="selectByExample" parameterType="com.ma.clothes.pojo.entity.SequenceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clo_sequence
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from clo_sequence
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from clo_sequence
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ma.clothes.pojo.entity.SequenceExample">
    delete from clo_sequence
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ma.clothes.pojo.entity.Sequence">
    insert into clo_sequence (id, min_value, max_value, 
      current_value, increament_value, remark
      )
    values (#{id,jdbcType=VARCHAR}, #{minValue,jdbcType=INTEGER}, #{maxValue,jdbcType=BIGINT}, 
      #{currentValue,jdbcType=BIGINT}, #{increamentValue,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ma.clothes.pojo.entity.Sequence">
    insert into clo_sequence
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="minValue != null">
        min_value,
      </if>
      <if test="maxValue != null">
        max_value,
      </if>
      <if test="currentValue != null">
        current_value,
      </if>
      <if test="increamentValue != null">
        increament_value,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="minValue != null">
        #{minValue,jdbcType=INTEGER},
      </if>
      <if test="maxValue != null">
        #{maxValue,jdbcType=BIGINT},
      </if>
      <if test="currentValue != null">
        #{currentValue,jdbcType=BIGINT},
      </if>
      <if test="increamentValue != null">
        #{increamentValue,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ma.clothes.pojo.entity.SequenceExample" resultType="java.lang.Long">
    select count(*) from clo_sequence
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update clo_sequence
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.minValue != null">
        min_value = #{record.minValue,jdbcType=INTEGER},
      </if>
      <if test="record.maxValue != null">
        max_value = #{record.maxValue,jdbcType=BIGINT},
      </if>
      <if test="record.currentValue != null">
        current_value = #{record.currentValue,jdbcType=BIGINT},
      </if>
      <if test="record.increamentValue != null">
        increament_value = #{record.increamentValue,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update clo_sequence
    set id = #{record.id,jdbcType=VARCHAR},
      min_value = #{record.minValue,jdbcType=INTEGER},
      max_value = #{record.maxValue,jdbcType=BIGINT},
      current_value = #{record.currentValue,jdbcType=BIGINT},
      increament_value = #{record.increamentValue,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ma.clothes.pojo.entity.Sequence">
    update clo_sequence
    <set>
      <if test="minValue != null">
        min_value = #{minValue,jdbcType=INTEGER},
      </if>
      <if test="maxValue != null">
        max_value = #{maxValue,jdbcType=BIGINT},
      </if>
      <if test="currentValue != null">
        current_value = #{currentValue,jdbcType=BIGINT},
      </if>
      <if test="increamentValue != null">
        increament_value = #{increamentValue,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ma.clothes.pojo.entity.Sequence">
    update clo_sequence
    set min_value = #{minValue,jdbcType=INTEGER},
      max_value = #{maxValue,jdbcType=BIGINT},
      current_value = #{currentValue,jdbcType=BIGINT},
      increament_value = #{increamentValue,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>